@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body
{
background-color: #000000;
font-size: 16;
font-family: 'Source Code Pro', sans-serif;
color: #66FF66;
}

#education
{

}

#experience
{

}

#interests
{

}